/* Стили карточки на доске */
.list-date {
    font-weight: 400;
    font-size: 11px;
    color: #666666;
}
.board-list {
    font-weight: 500;
}
.board-title {
    margin-bottom: 16px;
}
.board-item__list {
    padding: 8px;
    border-radius: 4px;
    background-color: #d1d0d0;
    margin-bottom: 16px;
    box-shadow: 0 0 10px 5px rgba(17, 13, 13, 0.3);
    transition: 0.2s;
}

.board-item__list:hover {
    background-color: #bbbaba;
}
.board-list__button i {
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(85, 82, 82, 0.644);
}
.board-list__button i:hover {
    color: #000;
    background-color: rgba(255, 255, 255, 0.315);
}
.board-list__button i:active {
    box-shadow: inset 0 0 5px 5px rgba(87, 86, 86, 0.8);
    transform: scale(0.9);
}
.board-list__title {
    width: 100%;
    margin-bottom: 20px;
}

.board-item__list p {
    margin-bottom: 8px;
    line-height: 18px;
}

.modal-icon {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    outline: none;
    border: 0;
    font-size: 20px;
}
.modal-icon option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 8px;
}

.board-list__icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 8px;

}
.board-list__icon p {
    font-weight: 400;
    font-size: 11px;
    color: #666666;
}

.list-icon {
    width: 32px;
    height: 32px;
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

